<!doctype html>
<html>
  <head>
    <title>WEBSITE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <div class="container">

      <h3 align="center">Are you sure you want to delete your account?</h3>
      <button><form action = "/delete" method="POST">hello</button>
      <input type="/delete" class="btn btn-default"></br>
      </form>




    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
