<!doctype html>
<html>
  <head>
    <title>NAME OF WEBSITE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <div class="container">

      <h2 class = "login">LOGIN</h2>
      <form action="/login" method="POST">
        <h4>Username: </h4><input class="form-control" type="text" name="username">
        <h4>Password: </h4><input class="form-control" type="text" name="password">
        <br><input type="submit" class="btn btn-default"></br>
      </form>
     

      <h2 class = "signup">SIGN UP</h2>
      <form action="/signup" method="POST">
        <h4>Username:</h4><input class="form-control" type="text" name="username">
        <h4>Password:</h4><input class="form-control" type="text" name="password">
        <h4>Email:</h4><input class="form-control" type="text" name="email">
        <br><input type="submit" class="btn btn-default"></br>
      </form>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
