<!doctype html>
<html>
  <head>
    <title>NAME OF WEBSITE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <div class="container">

      <h2>We could not find a user with that info. Please try again or create an account.</h2>
      <h2 class=back><a href="/">BACK</a></h2>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
